# PostgreSQL connection string
# Example for local: postgresql://USER:PASSWORD@localhost:5432/erp_br?schema=public
# Example for Supabase: postgresql://postgres:[PASSWORD]@db.[PROJECT].supabase.co:5432/postgres
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/erp_br?schema=public"
